
<!DOCTYPE html>

{%include 'header.html'%}


    <h1>Projects</h1>
    <h2>Add a Project</h2>
    <p class="text-muted"></p>

    <form action="/pa/projects/create/save" method="post" class="row g-3" enctype="multipart/form-data">
        {% csrf_token %}
    
        <div class="container">
            <div class="row p-2">
                <div class="col-md-2">
                    <label class="form-label">Project Title</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="projectTitleText" name="projectTitleText" maxlength="80"
                           placeholder="E.g. Need for Speed in Unity" required>
                </div>
            </div>
    
            <div class="row p-2">
                <div class="col-md-2">
                    <label class="form-label">Project Leader</label>
                </div>
                <div class="col-md-3">
                    <select class="form-select form-select-lg mb-3" id = "leaderSelection"  name = "leaderSelection"required>
                        <option selected disabled value="">Choose...</option>
                        {% for u in users %}
                        <option>{{u.username}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="row p-2">
                <div class="col-md-2">
                    <label class="form-label">Deadline</label>
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="deadlineDate" name="deadlineDate" required>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" type="submit" id="saveButton">Save</button>
                </div>
            </div>
    
        </div> <!-- /container -->
    
    </form>
    

{% include 'footer.html' %}